*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Heroes_Assembled;
    src: url(fonts/HeroesAssembleExpanded-vzj4.otf);
}

html, body{
    height: 100%;
}

.title{
    font-family: Heroes_Assembled;
    font-size: 50px;
    color: green;
    text-shadow: 2px 2px white;
}

body{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/003/194/842/large/bin8-lee-11893829-983732274991729-5302702142491070617-o.jpg?1470886254);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: none;
}

.score{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 10px
}

.hole{
    background-color: #3d611b;
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px #29100c;
    position: relative;
    overflow: hidden;
    
}

.hole .loki{
    width: 70%;
    position: absolute;
    bottom: 0;
    transform: translateX(28px);
    animation: rise .5s ease-out;
}

@keyframes rise{
    0%{
        transform: translateX(28px) translateY(100%);
    }
    100%{
        transform: translateX(28px) translateY(0);
    }
}

.cursor{
    height: 75px;
    width: 75px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url("images/Hulk Fist.png");
    background-size: 100% 100%;
    transform: translate(-40px, -20px);
    pointer-events: none;
}

.cursor.active{
    transform: translate(-60px, -20px) rotate(-45deg);
}

#start{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}